
:root {
    --color-dark: #192024;

    --color-bg-dark: #343C49;
    --color-text: #253650;
    --color-primary-hover: #304c7b;
    --color-primary: #4f657d;
    --color-light: #eee4db;
    --color-text-secondary: #322E2C;

    --color-rgb-primary: 79, 101, 125;
    --color-rgb-secondary: 224, 137, 44;
    --color-primary-bg-dark: #e0892c;
    --color-primary-bg-dark-hover: #dc7718;

    --color-primary-bg: var(--color-light);
    --font-family-primary: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eceef3;
    /*background-color: var(--color-light);*/
    color: var(--color-text) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

/********
Custom BS
*********/
.btn {
    padding: 8px 20px !important;
    border-radius: 0 !important;
    overflow: hidden !important;
    border: 1px solid #cdd6e0ff;
    letter-spacing: 1px !important;
    cursor: pointer !important;
}

.link, .btn-link {
    font-weight: bold !important;
    color: var(--color-primary) !important;
}

.link:hover, .btn-link:hover {
    color: var(--color-primary-hover) !important;
}

.btn-primary {
    background: var(--color-primary) !important;
    border: var(--color-primary) !important;
    background-color: #dc7718ff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--color-primary-hover) !important;
    background-color: #b05f13;
    border-color: rgba(var(--color-rgb-primary), 0.8) !important;
    box-shadow: 0 1px 1px rgba(var(--color-rgb-primary), 0.075) inset, 0 0 8px rgba(var(--color-rgb-primary), 0.6) !important;
    outline: 0 none !important;
}

/*********************
Adapt color to bg-dark
**********************/
.bg-dark {
    background-color: var(--color-bg-dark) !important;
}

.bg-dark > h1, .bg-dark > h2, .bg-dark > h3, .bg-dark > h4, .bg-dark > h5, .bg-dark > h6 {
    color: var(--color-light) !important;
}

.bg-dark > .link, .bg-dark > .btn-link, .bg-dark * > .link, .bg-dark * > .btn-link {
    font-weight: bold;
    color: var(--color-primary-bg-dark) !important;
}

.bg-dark > .link:hover, .bg-dark > .btn-link:hover, .bg-dark * > .link:hover, .bg-dark * > .btn-link:hover {
    color: var(--color-primary-bg-dark-hover) !important;
}

.bg-dark > .btn-primary, .bg-dark * > .btn-primary {
    color: var(--color-text-secondary);
    background: var(--color-primary-bg-dark) !important;
    border: var(--color-primary-bg-dark) !important;
}

.bg-dark > .btn-primary:hover, .bg-dark > .btn-primary:focus, .bg-dark > .btn-primary:active, .bg-dark * > .btn-primary:hover, .bg-dark * > .btn-primary:focus, .bg-dark * > .btn-primary:active {
    background: var(--color-primary-bg-dark-hover) !important;
    /*box-shadow: var(--color-primary)!important;*/
    border-color: rgba(var(--color-rgb-primary), 0.8) !important;
    box-shadow: 0 1px 1px rgba(var(--color-rgb-secondary), 0.075) inset, 0 0 8px rgba(var(--color-rgb-secondary), 0.6) !important;
    outline: 0 none !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

/*.text-white {*/
/*    color: var(--color-light);*/
/*}*/

.text-primary {
    color: var(--color-primary) !important;
}

.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed white;
    background-color: #2a2c39;
    color: black;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
}

.card {
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-holder {
    max-width: 100%;
}

.card-company-name {
    margin-right: 0.5rem;
}

.card-company-location {
    margin-bottom: -0.125rem;
    margin-right: 1rem;
}

.card-role-type {
    margin-bottom: -0.125rem;

    margin-right: 0.75rem;
}

.card-listing-date {
    margin-bottom: -0.125rem;

    margin-right: 0.75rem;
}

.skills-container {
    margin-bottom: 1rem;
}

.card-favorite-icon {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    /* Rounded border */
    border-radius: 9999px;
    height: 32px;
    width: 32px;

    margin: 4px;
}

.card-vote-on-job {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.card-hide-icon {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: rgba(40, 39, 39, 0.3);
    color: #fff;

    /* Rounded border */
    border-radius: 9999px;
    height: 32px;
    width: 32px;

    margin: 4px;
}

.card-hide-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-favorite-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-report-job {
}

.card-salary-range {
    margin-right: 0.75rem;
    margin-bottom: -0.125rem;
}

.card-job-duration {
    margin-right: 0.75rem;
    margin-bottom: -0.125rem;
}

.glassdoor-rating {
    /* Reset styles for button */
    background-color: transparent;
    border: transparent;
    margin: 0 2px;
    padding: 0;
    color: #0caa41;

    /* Used to position the hover state */
    position: relative;
}

.card-company-glassdoor {
    display: flex;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.card-job-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-company-fit {
    display: flex;
}

.job-title {
    font-size: 2rem !important;
    line-height: 1;
}

.card-job-summary {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
    /*display: block;*/
    /*width: 75%;*/
    margin-left: 20%;
    /*margin-top: auto;*/
    /*max-width: 400px;*/
    /*margin-right: auto;*/
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Basically just a bunch of typeface classes, some helper classes(letter-spacing, font-weight, etc.), decorative classes(line-on-headers, double-lines, etc). Three types of bg, image, gradient and solid color. I do this for testing headings/hero-image typography. Now there are ten presets here, but you can mix everything. I know that this brings to classivitis, but I still didn't dwelved into Saas, it is next on my learning roadmap, but I will create a fork soon with Saas and variables. */

/* Preset 1 ---- Bold/cursive  */
/* Preset 2 ---- Thin/bold  */
/* Preset 3 ---- Add emphasis with color */
/* Preset 4 ---- Thin/Super bold/thin */
/* Preset 5 ---- Playing with serifs */
/* Preset 6 ---- Super contrast */
/* Preset 7 ---- Vertical text */
/* Preset 8 ---- Playful type */
/* Preset 9 ---- Middle flourish */
/* Preset 10 ---- Overlay text */

/* ==== Font sizes(based on Typeplate's scale) ==== */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-top: 0;
    color: #fcfafa;
    position: relative;
}

p {
    margin-top: 4rem;
    color: #faf9f9;
    font-size: 0.9rem;
    line-height: 1;
}

.gigantic {
    font-size: 11rem;
}

.supersize {
    font-size: 8rem;
}

.tera {
    font-size: 6.5rem; /* 117 / 18 = 6.5 */
    margin-bottom: 0.25385rem;
}

.giga {
    font-size: 5rem; /* 90 / 18 = 5 */
    margin-bottom: 0.33rem;
}

.mega {
    font-size: 4rem; /* 72 / 18 = 4 */
    margin-bottom: 0.4125rem;
}

.alpha {
    font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
    margin-bottom: 0.495rem;
}

.beta {
    font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
    margin-bottom: 0.61875rem;
}

.gamma {
    font-size: 2rem; /* 36 / 18 = 2 */
    margin-bottom: 0.825rem;
}

.delta {
    font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
    margin-bottom: 1.2375rem;
}

.epsilon {
    font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
    margin-bottom: 1.41429rem;
}

.zeta {
    font-size: 1rem; /* 18 = 18 × 1 */
    margin-bottom: 1.65rem;
}

/* ==== Typefaces  ==== */
.montserrat {
    font-family: "Montserrat", serif;
}


.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.ls-small {
    letter-spacing: 2px;
}

.ls-medium {
    letter-spacing: 4px;
}

.ls-large {
    letter-spacing: 8px;
}

.ls-xlarge {
    letter-spacing: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.color-emphasis-1 {
    color: #6C63FF;
}

.color-emphasis-2 {
    color: #000;
}

.color-emphasis-3 {
    color: #60547c;
}

.text-left {
    text-align: left;
}

.line-height-small {
    line-height: 1.2;
}

.line-height-medium {
    line-height: 1.45;
}

.line-height-large {
    line-height: 1.65;
}

/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before,
.thick-header-line:after {
    content: "";
    display: block;
    position: absolute;
    width: 7rem;
    height: 4px;
    background-color: #fff;
    top: 50%;
    margin-bottom: -4px;
}

.thick-header-line:before {
    left: -7.5rem;
}

.thick-header-line:after {
    right: -7.5rem;
}

.thin-header-line:before,
.thin-header-line:after {
    content: "";
    display: block;
    position: absolute;
    width: 7rem;
    height: 1px;
    background-color: #fff;
    top: 50%;
    margin-bottom: -1px;
}

.thin-header-line:before {
    left: -7.5rem;
}

.thin-header-line:after {
    right: -7rem;
}

.line-after-heading:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 4rem;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -2rem;
}

.double-header-line:before,
.double-header-line:after {
    content: "";
    display: block;
    position: absolute;
    width: 7rem;
    background-color: transparent;
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 50%;
    margin-bottom: -4px;
}

.double-header-line:before {
    left: -7.5rem;
}

.double-header-line:after {
    right: -7.5rem;
}

.decorative-span {
    display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
    color: #fff;
}

.decorative-span:before,
.decorative-span:after {
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}

.decorative-span:after {
    top: 96%;
}


/* ==== General styles ==== */
section {
    user-select: none;
    height: auto;
    /*position: relative;*/
    /*max-width: 100%;*/
    /*background-image: url("assets/images/dawdawda.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    /*background-size: 75%;*/
    /*overflow: hidden !important;*/
}

.bg-prim {
    background-color: #413a88;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.image1 {
    position: relative;
    top: 200px;
    left: 0;
}

.image2 {
    z-index: -20000;
    position: absolute;
    top: -150px;
    left: 80px;
}
