:root {
    --color-bg-dark: #343C49;
    --color-text: #253650;
    --color-primary-hover: #304c7b;
    --color-primary: #4f657d;
    --color-light: #ffffff;
    --color-rgb-primary: 79, 101, 125;
    --font-family-primary: 'Montserrat', sans-serif;
    --color-bg: #d4d6de;
    --nav-height: 41px;
}

#root {
    padding-top: var(--nav-height);
    display: block;
}

#root, html, body {
    display: block;
    /*width: auto;*/
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg);
    color: var(--color-text) !important;
}

.navbar {
    z-index: 10000 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    padding: 0 20px !important;
}

main {
    height: 100%;
    overflow-y: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

input, button, select, textarea {
    box-shadow: none !important;
}

input:not[type = "radio"], select, textarea {
    border-radius: 1px !important;
    border: 1px solid var(--color-primary) !important;
}

input:-webkit-autofill {
    border: 1px solid var(--color-primary) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-primary);
    text-decoration-color: var(--color-text) !important;
}

::selection {
    color: white !important;
    background-color: var(--color-primary) !important;
}

/*************
Custom classes
**************/
.no-select {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
}

/********
Custom BS
*********/
.btn {
    padding: 8px 20px !important;
    border-radius: 0 !important;
    overflow: hidden !important;
    border: 1px solid #cdd6e0ff;
    letter-spacing: 1px !important;
    cursor: pointer !important;
}

.link, .btn-link {
    font-weight: bold !important;
    color: var(--color-primary) !important;
}

.link:hover, .btn-link:hover {
    color: var(--color-primary-hover) !important;
}

.btn-primary, .btn-primary:focus {
    background: var(--color-primary) !important;
    border: var(--color-primary) !important;
    color: var(--color-light) !important;
}

.btn-primary:hover, .btn-primary:active {
    background: var(--color-primary-hover) !important;
    border-color: rgba(var(--color-rgb-primary), 0.8) !important;
    box-shadow: 0 1px 1px rgba(var(--color-rgb-primary), 0.075) inset, 0 0 8px rgba(var(--color-rgb-primary), 0.6) !important;
    color: var(--color-light) !important;
}

.btn-outline-primary {
    box-shadow: none !important;
    background: none !important;
    border: 1px solid var(--color-primary-hover) !important;
    color: var(--color-primary-hover) !important;
}

.btn-check:checked + .btn-outline-primary:hover,
.btn-outline-primary:hover,
.btn-outline-primary:active {
    background: var(--color-primary-hover) !important;
    border-color: rgba(var(--color-rgb-primary), 0.8) !important;
    color: white !important;
}

.btn-check:checked + .btn-outline-primary,
.btn-outline-primary:focus {
    background: var(--color-primary) !important;
    color: white !important;
}

.form-check-input:checked {
    background-color: var(--color-primary-hover) !important;
    border-color: var(--color-primary-hover) !important;
}

.form-control:focus {
    border-color: var(--color-primary-hover) !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(var(--color-rgb-primary), 0.8);
}

.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed darkgray;
    background-color: #bcbcd2;
    color: black;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***
Card
***/
.card {
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-holder {
    max-width: 100%;
}

.card-company-name {
    margin-right: 0.5rem;
}

.card-company-location {
    margin-bottom: -0.125rem;
    margin-right: 1rem;
}

.card-role-type {
    margin-bottom: -0.125rem;
    margin-right: 0.75rem;
}

.card-listing-date {
    margin-bottom: -0.125rem;
    margin-right: 0.75rem;
}

.card-salary-range {
    margin-right: 0.75rem;
    margin-bottom: -0.125rem;
}

.card-job-duration {
    margin-right: 0.75rem;
    margin-bottom: -0.125rem;
}

.card-company-glassdoor {
    display: flex;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.card-job-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-company-fit {
    display: flex;
}

.job-title {
    font-size: 2rem !important;
    line-height: 1;
}

.card-job-summary {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mega {
    font-size: 50px;
    margin-bottom: auto;
    margin-top: auto;
    color: #192024;
}

.montserrat {
    font-family: "Montserrat", serif;
}

.bold {
    font-weight: 700;
}

.color-emphasis-1 {
    color: var(--color-primary-hover);
}

.text-left {
    text-align: left;
}

.messageEmpty {
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
    max-width: 100%;
}

.image2 {
    height: 400px;
}
