.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-login {
    margin-right: 10px;
}

.filter-switch label {
    cursor: pointer;
}

.filter-switch-item input:checked + label {
    color: inherit;
}

.filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}
