.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed white;
    background-color: #e0dbd7;
    color: black;

    margin-bottom: 20px;
}

.accept {
    border-color: #107c10 !important;
}

.reject {
    border-color: #d83b01 !important;
}
li {
    list-style-type: none;
}
button {
    font-size: 90%;
    padding: 10px 30px 10px;
    border: 1px solid #cdd6e0ff;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #dc7718ff;
}

button:hover {
    background-color: #b05f13;
}