.preview *{
    margin-bottom: 20px;
}

.preview *:nth-child(5){
    margin-bottom: 10px;
}

div h3 span {
    background-color: #eee4db !important;
    color: #343c49 !important;
}

a{
    cursor: pointer;
}