<div style='page-break-after: always;text-align:center;'>
	<h1 style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;text-align:center;'><strong><span style='font-family:"Arial",sans-serif;'>ÉVALUATION DU MILIEU DE STAGE</span></strong></h1>

	<h3 style='margin:0cm;font-size:16px;font-family:"Albertus Medium",sans-serif;'>IDENTIFICATION DE L'ENTREPRISE</h3>
	<table style="border-collapse:collapse;border:none;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style="width: 548pt;border: 1pt solid windowtext;padding: 0cm 3.5pt;vertical-align: top;">
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Nom de l'entreprise:<span> ${nomEntreprise}</span></p>
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Personne contact : <span> ${nomMoniteur}</span></p>
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Adresse: <span> ${adresse}</span></p>
		   <p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Téléphone:<span>${phoneNumber}</span></p>
				  <p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Ville : <span>${city}</span> </p>
				   <p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Télécopieur : <span>${fax}</span></p>
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Code Postal : <span>${postalCode}</span></p>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>

	<h1 style='margin:0cm;font-size:16px;font-family:"Albertus Medium",sans-serif;'>IDENTIFICATION DU STAGIAIRE</h1>
	<table style="border-collapse:collapse;border:none;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style="width: 548pt;border: 1pt solid windowtext;padding: 0cm 3.5pt;vertical-align: top;">
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Nom du stagiaire : <span>${studentName}</span></p>
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Date du stage : <span> ${dateDebutStage}</span></p>
					<p style='margin:0cm;font-size:15px;font-family:"Univers",sans-serif;margin-top:3.0pt;margin-right:0cm;margin-bottom:  3.0pt;margin-left:0cm;'>Stage : <span> ${numberOfStage}</span></p>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>


	<h1 style='margin:0cm;font-size:16px;font-family:"Albertus Medium",sans-serif;'>ÉVALUATION</h1>
	<table style="border-collapse:seperate;border:1pt solid windowtext; border-spacing: 6px 10px;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style='width:237.5pt;'></td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Totalement en accord</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Plutôt en accord</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Plutôt désaccord*</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Totalement désaccord*</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Impossible de se prononcer</td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Les tâches confiées au stagiaire sont conformes aux tâches annoncées dans l’entente de stage.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="tacheStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="tacheStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="tacheStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="tacheStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="tacheStagiaire"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Des mesures d’accueil facilitent l’intégration du nouveau stagiaire.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="accueilStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="accueilStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="accueilStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="accueilStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="accueilStagiaire"></td>
			</tr>
					<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Le temps réel consacré à l’encadrement du stagiaire est suffisant.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="encadrementStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="encadrementStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="encadrementStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="encadrementStagiaire"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="encadrementStagiaire"></td>
			</tr>

			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Préciser le nombre d’heures/semaine :
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Premier mois : <span>${nbPremierMois}</span>
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Deuxième mois : <span>${nbDeuxiemeMois}</span>
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Troisième mois : <span>${nbTroisiemeMois}</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div style='page-break-after:always;text-align:center;'>
	<table style="border-collapse:seperate;border:1pt solid windowtext; border-spacing: 6px 10px;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style='width:237.5pt;'></td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Totalement en accord</td>
				<td style='width:61.9pt;font-family:"Arial",sans-seriftext-align: center;;'>Plutôt en accord</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Plutôt désaccord*</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Totalement désaccord*</td>
				<td style='width:61.9pt;font-family:"Arial",sans-serif;text-align: center;'>Impossible de se prononcer</td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						L’environnement de travail respecte les normes d’hygiène et de sécurité au travail.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="hygieneSecurite"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="hygieneSecurite"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="hygieneSecurite"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="hygieneSecurite"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="hygieneSecurite"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Le climat de travail est agréable.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="climatTravail"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="climatTravail"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="climatTravail"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="climatTravail"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="climatTravail"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Le milieu de stage est accessible par transport en commun.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="accessibleTransport"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Le salaire offert est intéressant pour le stagiaire.
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Préciser : <span>${tauxHoraire}</span> /l'heure.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="accessibleTransport"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="accessibleTransport"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						La communication avec le superviseur de stage facilite le déroulement du stage.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="communicationSup"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="communicationSup"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="communicationSup"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="communicationSup"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="communicationSup"></td>
			</tr>
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						L’équipement fourni est adéquat pour réaliser les tâches confiées.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="equipementAdequat"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="equipementAdequat"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="equipementAdequat"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="equipementAdequat"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="equipementAdequat"></td>
			</tr>		
			<tr>
				<td>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif'>
						Le volume de travail est acceptable.
					</p>
				</td>
				<td style='text-align: center;'><input type="radio" id="totalementAccord" name="volumeTravail"></td>
				<td style='text-align: center;'><input type="radio" id="plutotAccord" name="volumeTravail"></td>
				<td style='text-align: center;'><input type="radio" id="plutotDesaccord" name="volumeTravail"></td>
				<td style='text-align: center;'><input type="radio" id="totalementDesaccord" name="volumeTravail"></td>
				<td style='text-align: center;'><input type="radio" id="impossible" name="volumeTravail"></td>
			</tr>
		</tbody>
	</table>
	<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif; font-weight:bold;'>* Expliquer dans la section commentaires</p>
	<br>
	<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif; font-weight:bold;'>Commentaire</p>
	<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'><span>${comments}</span></p>
	
	<br>
	<br>
	
	<h1 style='margin:0cm;font-size:16px;font-family:"Albertus Medium",sans-serif;'>OBSERVATION GÉNÉRALES</h1>
	<table style='border-collapse:seperate;margin-left:auto;margin-right:auto;'>
		<tbody>
			<tr>
				<td style='border:1pt solid; width: 400pt;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>Ce milieu est à privilégier pour le: 
						<span>Premier stage <input type="radio" id="premierStage" name="numeroStage"></span>
						<span>Deuxième stage <input type="radio" id="deuxiemeStage" name="numeroStage"></span>
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						stage
					</p>
				</td>
			</tr>
			<tr>
				<td style='border:1pt solid'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>Ce milieu est ouvert à accueillir: </p>
						<span>Un stagiaire <input type="radio" id="unStagiaire" name="nbStagiaire"></span>
						<span>Deux stagiaire <input type="radio" id="deuxStagiaire" name="nbStagiaire"></span>
						<span>Trois stagiaire <input type="radio" id="troisStagiaire" name="nbStagiaire"></span>
						<span>Plus de trois<input type="radio" id="plusStagiaire" name="nbStagiaire"></span>
				</td>
			</tr>
			<tr>
				<td style='border:1pt solid' rowspan="2">
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Ce milieu désire accueillir le même stagiaire pour un prochain stage
					</p>
				</td>
				<td style='border:1pt solid;width:90pt;height:30pt; text-align:center;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Oui
					</p>
				</td>
				<td style='border:1pt solid;width:90pt;height:30pt;text-align:center;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Non
					</p>
				</td>
			</tr>
			<tr>
				<td style='border:1pt solid;text-align:center;height:20pt;'>
					<input type="radio" id="oui" name="memeStagiaire">
				</td>
				<td style='border:1pt solid;text-align:center;height:20pt;'>
					<input type="radio" id="non" name="memeStagiaire">
				</td>
			</tr>
			<tr>
				<td style='border:1pt solid;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Ce milieu offre des quarts de travail variables :
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						De <span>${firstStart}</span> à <span>${firstEnd}</span>
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						De <span>${firstStart}</span> à <span>${firstEnd}</span>
					</p>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						De <span>${firstStart}</span> à <span>${firstEnd}</span>
					</p>
				</td>
				<td style='border:1pt solid;text-align:center;'>
					<input type="radio" id="oui" name="quartTravail">
				</td>
				<td style='border:1pt solid;text-align:center;'>
					<input type="radio" id="non" name="quartTravail">
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<table style='border-collapse:seperate;border-spacing:75px 5px;margin-left:auto;margin-right:auto;'>
		<tbody>
			<tr>
				<td style='width:200pt;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						<span>${signatureSuperviseur}</span>
					</p>
				</td>
				<td style='width:200pt;'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						<span>${date}</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style='border-top:1pt solid black'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Signature de l'enseignant responsable du stagiaire
					</p>
				</td>
				<td style='border-top:1pt solid black'>
					<p style='margin:0cm;font-size:15px;font-family:"Arial",sans-serif;'>
						Date
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>


