<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contrat de Stage</title>
</head>
<body>
    <div class="container">
        <div style="page-break-after: always;">
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal align=center style='text-align:center'><b>
                <span lang=FR-CA style='font-size:20.0pt;line-height:107%;font-family:"Arial",sans-serif'>CONTRAT DE STAGE</span>
            </b></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal><span lang=FR-CA></span></p>
            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>[<span
                    class=GramE>xx</span>]</span></p>
        </div>
        <div style="page-break-after: always;">
            <p class=MsoNormal align=center style='text-align:center'><b>
                <span lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
                    ENTENTE DE STAGE INTERVENUE ENTRE LES PARTIES SUIVANTES</span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>Dans
    le cadre de la formule ATE, les parties citées ci-dessous</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>Le
    gestionnaire de stage, [<span class=SpellE>nom_gestionnaire</span>]</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><span class=GramE><b><span
                    lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>et</span></b></span><b><span
                    lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><b><span lang=FR-CA
                                                                               style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>L’employeur,
    [<span class=SpellE>nom_employeur</span>]</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><span class=GramE><b><span
                    lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>et</span></b></span><b><span
                    lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>L’étudiant(e),
                <span th:text="${contract.student.firstName} ">nom_etudiant</span> <span th:text="${contract.student.lastName}"></span>,</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>Conviennent
    des conditions de stage suivantes</span></p>

            <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                   style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
     mso-yfti-tbllook:1184;mso-padding-alt:2.85pt 5.4pt 2.85pt 5.4pt'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      border-bottom:none;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:
      solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;background:
      #E7E6E6;mso-background-themecolor:background2;padding:2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>ENDROIT DU
      STAGE></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:1'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      border-top:none;mso-border-left-alt:solid windowtext .5pt;mso-border-bottom-alt:
      solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding:
      2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Adresse&nbsp;:
      [<span class=SpellE>offre_lieuStage</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:2'>
                    <td width=575 valign=top style='width:431.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
      mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;
      mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
      background:#E7E6E6;mso-background-themecolor:background2;padding:2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif;color:black;
      mso-color-alt:windowtext'>DUREE DU STAGE</span></b><b><span lang=FR-CA
                                                                  style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:3'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      border-top:none;mso-border-left-alt:solid windowtext .5pt;mso-border-bottom-alt:
      solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding:
      2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Date de
      début&nbsp;: [<span class=SpellE>date_debut</span>]</span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Date de
      fin&nbsp;: [<span class=SpellE>date_fin</span>]</span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Nombre
      total de semaines&nbsp;: [<span class=SpellE>nb_semaine</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:4'>
                    <td width=575 valign=top style='width:431.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
      mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;
      mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
      background:#E7E6E6;mso-background-themecolor:background2;padding:2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif;color:black;
      mso-color-alt:windowtext'>HORAIRE DE TRAVAIL</span></b><b><span lang=FR-CA
                                                                      style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:5;height:31.85pt'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      border-top:none;mso-border-left-alt:solid windowtext .5pt;mso-border-bottom-alt:
      solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding:
      2.85pt 5.4pt 2.85pt 5.4pt;height:31.85pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Horaire de
      travail: [horaire]</span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Nombre
      total d’heures par semaine&nbsp;: [<span class=SpellE>nb_heure</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:6'>
                    <td width=575 valign=top style='width:431.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
      mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;
      mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
      background:#E7E6E6;mso-background-themecolor:background2;padding:2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif;color:black;
      mso-color-alt:windowtext'>SALAIRE</span></b><b><span lang=FR-CA
                                                           style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:7;mso-yfti-lastrow:yes'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      border-top:none;mso-border-left-alt:solid windowtext .5pt;mso-border-bottom-alt:
      solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding:
      2.85pt 5.4pt 2.85pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Salaire horaire&nbsp;: [<span class=SpellE>offre_tauxHoraire</span>]<b></b></span></p>
                    </td>
                </tr>
            </table>
    </div>
        <div style="page-break-after: always;">
            <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
                                                                            style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'></span></p>

            <span lang=FR-CA style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif;
    mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-ansi-language:
    FR-CA;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
                                                                  style='mso-special-character:line-break;page-break-before:always'>
    </span>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal><b><span lang=FR-CA style='font-size:12.0pt;line-height:
    107%;font-family:"Arial",sans-serif'>TACHES ET RESPONSABILITES DU STAGIAIRE</span></b></p>

            <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                   style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
     mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                    <td width=575 valign=top style='width:431.5pt;border:solid windowtext 1.0pt;
      mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>offre</span>_description</span>]</span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                    </td>
                </tr>
            </table>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal align=center style='text-align:center'><b><span lang=FR-CA
                                                                               style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>RESPONSABILITES</span></b></p>

            <p class=MsoNormal><b><span lang=FR-CA style='font-size:12.0pt;line-height:
    107%;font-family:"Arial",sans-serif'>Le Collège s’engage à</span></b></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'>…</span></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal><b><span lang=FR-CA style='font-size:12.0pt;line-height:
    107%;font-family:"Arial",sans-serif'>L’entreprise s’engage à</span></b></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'>…</span></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>

            <p class=MsoNormal><b><span lang=FR-CA style='font-size:12.0pt;line-height:
    107%;font-family:"Arial",sans-serif'>L’étudiant s’engage à</span></b></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'>…</span></p>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>

            <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                   style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
     mso-yfti-tbllook:1184;mso-padding-alt:1.4pt 5.4pt 1.4pt 5.4pt'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:31.2pt'>
                    <td width=575 colspan=2 style='width:431.5pt;border:none;border-top:solid windowtext 1.0pt;
      mso-border-top-alt:solid windowtext .5pt;background:#E7E6E6;mso-background-themecolor:
      background2;padding:1.4pt 5.4pt 1.4pt 5.4pt;height:31.2pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>SIGNATURES</span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:1'>
                    <td width=575 colspan=2 valign=top style='width:431.5pt;border:none;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
      line-height:normal'><b><span lang=FR-CA style='font-size:14.0pt;font-family:
      "Arial",sans-serif'>Les parties s’engagent à respecter cette entente de stage</span></b><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>En foi de
      quoi les parties ont signé,</span></b></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:2'>
                    <td width=575 colspan=2 valign=top style='width:431.5pt;border:none;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>L’étudiant(e)</span></b><b><span
                                lang=FR-CA style='font-size:14.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:3'>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>signature</span>_etudiant</span>]</span></p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>date</span>_signature_etudiant</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:4'>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>
                            <span th:text="${contract.student.firstName} ">nom_etudiant</span>
                            <span th:text="${contract.student.lastName}"></span>
                        </p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Date</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:5'>
                    <td width=575 colspan=2 valign=top style='width:431.5pt;border:none;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>L’employeur</span></b><b><span
                                lang=FR-CA style='font-size:14.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:6'>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>signature</span>_employeur</span>]</span></p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>date</span>_signature_employeur</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:7'>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>nom</span>_employeur</span>]</span></p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Date</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:8'>
                    <td width=575 colspan=2 valign=top style='width:431.5pt;border:none;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></b></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><b><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Le
      gestionnaire de stage&nbsp;:</span></b><b><span lang=FR-CA style='font-size:
      14.0pt;font-family:"Arial",sans-serif'></span></b></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:9'>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>signature</span>_gestionnaire</span>]</span></p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;border-bottom:
      solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'></span></p>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>date</span>_signature_gestionnaire</span>]</span></p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:10;mso-yfti-lastrow:yes'>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>[<span
                                class=SpellE><span class=GramE>nom</span>_gestionnaire</span>]</span></p>
                    </td>
                    <td width=288 valign=top style='width:215.75pt;border:none;mso-border-top-alt:
      solid windowtext .5pt;padding:1.4pt 5.4pt 1.4pt 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
                                lang=FR-CA style='font-size:12.0pt;font-family:"Arial",sans-serif'>Date</span></p>
                    </td>
                </tr>
            </table>

            <p class=MsoNormal><span lang=FR-CA style='font-size:12.0pt;line-height:107%;
    font-family:"Arial",sans-serif'></span></p>
        </div>
    </div>
</body>
</html>